* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background-image: url("../assets/mac-os-ventura-light-5k-do-1440x900.jpg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  background: linear-gradient(to right, #b6dfd1, #e4d997, #a6c2cd);
}

.toolbar {
  position: relative;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: default;
}
.list__item {
  list-style: none;
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 3px;
}
.list__item__battery {
  height: 30px;
}

.sub-menu-container {
  display: none;
  position: absolute;
  top: 30px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 10px;
}
.sub-menu-container__list {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
}
.sub-menu-container__list__item {
  padding: 5px 100px 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
}
.sub-menu-container__list__item:hover {
  background-color: #4c9afd;
  color: white;
}
.sub-menu-container--finder {
  left: 30px;
}
.sub-menu-container--file {
  left: 90px;
}
.sub-menu-container--edit {
  left: 135px;
}
.sub-menu-container--view {
  left: 175px;
}
.sub-menu-container--go {
  left: 230px;
}
.sub-menu-container--window {
  left: 270px;
}
.sub-menu-container--help {
  left: 340px;
}

.bottom-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.bottom-menu {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 8px 8px 10px 8px;
  margin-bottom: 5px;
  transform: translateY(130%);
  transition-timing-function: ease-in;
  transition: 0.2s;
  opacity: 0;
}

.end-of-browser {
  align-self: stretch;
  height: 2px;
}

.app {
  height: 50px;
}
.app__icon {
  height: 100%;
}
.app__icon--finder {
  border-radius: 500px;
}
.app__icon--bin {
  border-left: 1px solid rgba(92, 88, 88, 0.5);
  padding-left: 10px;
}

.ease-in {
  transition: 0.25s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
}
