@use "./partials/mixins.scss";
@use "./partials/colors.scss";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    position: relative;
    height: 100vh;
    background-image: url('../assets/mac-os-ventura-light-5k-do-1440x900.jpg');
    @include mixins.flex(column,space-between,stretch);
    
}

.top-menu{
    @include mixins.flex(row,space-between);
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    background:linear-gradient(to right,#b6dfd1,#e4d997,#a6c2cd);
    
}

.toolbar{
    position: relative;
}

.list{
    @include mixins.flex(row,space-around);
    cursor: default;
    &__item{
        list-style: none;
        font-size: 15px;
        padding: 6px 10px;
        border-radius: 3px;
        &__battery{
            height: 30px;
        }
    }
}

.sub-menu-container{
    display: none;
    position: absolute;
    top: 30px;
    z-index: 9999;
    background:rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 10px;
    &__list{
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        cursor: default;
        &__item{
            padding: 5px 100px 5px 10px;
            border-radius: 4px;
            white-space: nowrap;
            &:hover{
                background-color: #4c9afd;
                color: white;
            }
        }
    }
    &--apple-icon{
    }
    &--finder{
        left:30px;
    }
    &--file{
        left:90px;
    }
    &--edit{
        left:135px;
    }
    &--view{
        left:175px;
    }
    &--go{
        left:230px;
    }
    &--window{
        left:270px;
    }
    &--help{
        left:340px;
    }
}

.bottom-menu-container{
    @include mixins.flex(column,flex-end,stretch);
    position: relative;
}

.bottom-menu{
    align-self: center;
    @include mixins.flex(row,space-around,center);
    gap: 10px;
    background:rgba(255,255,255,0.5);
    border-radius: 15px;
    padding: 8px 8px 10px 8px;
    margin-bottom: 5px;
    transform: translateY(130%);
    transition-timing-function: ease-in;
    transition: 0.5s;
    opacity: 0;
}

.end-of-browser{
    align-self: stretch;
    height: 2px;
}

.app-icon{
    height: 50px;
    &__img{
        height: 100%;
        &--finder{
            border-radius: 500px;
        }
        &--bin{
            border-left: 1px solid rgba(92, 88, 88, 0.5);
            padding-left: 10px;
        }
    }
}

.ease-in {
  transition: 0.3s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
}
.app{
    align-self: center;
    height: 600px;
    width: 700px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
}

.app-notes{
    position: absolute;
    top:50px;
    left:300px;
    @include mixins.flex(column,flex-start,stretch);
    &__nav{
        @include mixins.flex(row,space-around,center);
        height: 50px;
        background-color: #f6f0ed;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    &__main{
        @include mixins.flex(row,center,stretch);
        height: 550px;
    }
}

.nav__icon-container{
    @include mixins.flex(row,center,center);
    gap: 10px;
    height: 100%;
    line-height: 45px;
    &__img{
        height: 40%;
        padding: 6px;
    }
}
.nav__icon-container--small-gap{
    gap: 8px;
}
.nav__icon-container__img--small{
    height: 25%;
    padding: 0px;
}


.main__titles{
    // background-color: #a6c2cd;
    height: 100%;
    width: 25%;
    &__list{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.main__content{
    @include mixins.flex(column,flex-start,stretch);
    // background-color: #e4d997;
    height: 100%;
    width: 75%;
    border-left: 1px solid #e9e9e9;
    &__title{
        border: none;
        outline: none;
        padding: 20px;
        padding-bottom: 0px;
        font-size: 30px;
        &::placeholder{
            color: #a0a0a0;
        }
    }
    &__text{
        resize: none;
        border: none;
        outline: none;
        width: 485px;
        height: 510px;
        padding:20px;
        border-bottom-right-radius: 12px;
    }
}



.notes-list{
    list-style: none;
    padding: 15px 15px 15px 10px;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 5px;
    font-weight:500;
    cursor: default;
}

.current-note{
    background-color: #ffe491;
}

.app-photos{
    position: absolute;
    top: 50px;
    left: 300px;
    @include mixins.flex(row,center,stretch);
    &__nav{
        width: 25%;
        height: 100%;
        background-color: #e3dddc;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    &__main{
        width: 75%;
    }
}

.nav__icon-container--close{
    @include mixins.flex(row,flex-start,center);
    height: 50px;
    padding-left: 20px;
}

.app-photos__nav__menu{
    color: #a39d9c;
    margin: 0px 10px;

}

.photos__section{
    padding: 10px;
    font-size: 13px;
}

.photos__submenu-list{
    list-style: none;
    cursor: default;
    &__item{
        color: #474646;
        font-size: 14px;
        padding: 8px 20px;
        border-radius: 5px;
    }
}

.active-photos-submenu{
    background-color: #4c9fff;
    color: white;
}

.app-photos__main{
    &__header{
        height: 50px;
        cursor: default;
        @include mixins.flex(row,center,center);
        &__span{
            padding: 5px 15px;
            font-size: 14px;
            color: #737373;
            border-radius: 5px;
        }
    }
    &__gallery{
        @include mixins.flex(row,center,flex-start);
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px 10px;
    }
}

.app-photos__main__header__span-container{
    @include mixins.flex(row,center,center);
    border: 1px solid #f2f2f2;
    border-radius: 8px;
}

.with-border{
    border-right: 1px solid #f2f2f2;;
}

.gallery__photo{
    width: 30%;
}

.active-header-menu{
    background-color:#f2f2f2 ;
}

.hide-element{
    visibility:hidden;
}

.show-element{
    visibility: visible;
}

